<app-navbar></app-navbar>

<div class="bg-cover bg-center bg-fixed" style="background-image: url('https://cdn.pixabay.com/photo/2020/02/13/06/49/seascape-4844697_960_720.jpg'); background-size: cover; height: 100vh">
  <section class="flex flex-col items-center justify-center h-full py-20">
    <div class="w-full max-w-lg bg-white rounded-lg shadow md:max-w-xl dark:border dark:bg-white-800 dark:border-white-700 p-8">
      <div class="space-y-4 md:space-y-6 sm:p-8">
        <div class="sm:mx-auto sm:w-full sm:max-w-md">
          <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
            Sign in to your account
          </h2>
          <p class="mt-2 text-center text-sm text-gray-600 max-w">
            Or
            <a href="/register" class="font-medium text-blue-600 hover:text-blue-500">
              create an account
            </a>
          </p>
        </div>
        <form class="space-y-4 md:space-y-6 my-6" [formGroup]="logInUserForm" (ngSubmit)="loginUser()">
          <div>
            <label for="username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
            <input type="email" formControlName="email" class="input-style" placeholder="example@gmail.com" required="">
          </div>
          <div class="">
            <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
            <input type="password" formControlName="password" placeholder="••••••••" class="input-style" required="">
          </div>

          <button type="submit" class="button-style">Login</button>
          <a class="text-gray-600 my-6 hover:text-blue-800" href="#">Forgot your password?</a>
        </form>
      </div>
    </div>
  </section>
</div>

<style>
  .input-style {
    width: 100%;
    height: 50px;
    color: black; 
    padding: 10px;
    border: 1px solid red;
    border-radius: 5px;
    margin-bottom: 15px;
  }

  .button-style {
    width: 100%;
    height: 50px; 
    background-color: #3490dc;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
</style>
