<div class="bg-transparent py-16 mt-8 mb-8">
    <div class="container mx-auto text-center">
      <h2 class="text-3xl font-semibold text-blue-900 mb-6">About Us</h2>
      <p class="text-gray-700 leading-loose mb-8">
        Welcome to our tours and travel company based in the beautiful country of Kenya.
        We are passionate about creating unforgettable<br>  travel experiences that showcase the 
        diverse landscapes, wildlife, and rich culture that Kenya has to offer. Whether you're <br> 
        seeking an adventurous safari, a relaxing beach getaway, or a cultural exploration, 
        we've got <br> the perfect package for you.
      </p>
      <p class="text-gray-700 leading-loose mb-8">
        With a team of experienced guides and a commitment to responsible tourism, 
        we ensure that every journey with us not  only meets <br> but exceeds your expectations.  
        Let us be your travel companion as you embark on a journey <br> to discover the magic of Kenya.
      </p>
      <p class="text-gray-700 leading-loose">
        Book your next adventure with us and let the beauty of Kenya unfold before your eyes.
      </p>
    </div>
  </div>
  