<div class="grid border rounded-xl gap-10 mx-5 my-3 shadow-sm divide-y overflow-hidden sm:flex sm:divide-y-0 sm:divide-x flex-wrap dark:border-gray-700 dark:shadow-slate-700/[.7] dark:divide-gray-600">
    <div class="flex flex-col flex-[1_0_0%] bg-white dark:bg-gray-800">
      <img class="w-full h-auto rounded-t-xl sm:rounded-se-none" src="https://images.unsplash.com/photo-1680868543815-b8666dba60f7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2532&q=80" alt="Image Description">
      <div class="p-4 flex-1 md:p-5">
        <h3 class="text-lg font-bold text-gray-800 dark:text-white">
          Card title
        </h3>
        <p class="mt-1 text-gray-500 dark:text-gray-400">
          This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
        </p>
      </div>
      <div class="p-4 border-t sm:px-5 dark:border-gray-700">
        <p class="text-xs text-gray-500 dark:text-gray-500">
          Last updated 5 mins ago
        </p>
      </div>
    </div>
  
    <div class="flex flex flex-col group bg-white border shadow-sm rounded-xl overflow-hidden hover:shadow-lg transition dark:bg-slate-900 dark:border-gray-700 dark:shadow-slate-700/[.7] flex-col flex-[1_0_0%] bg-white dark:bg-gray-800">
      <img class="w-full h-auto" src="https://images.unsplash.com/photo-1680868543815-b8666dba60f7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2532&q=80" alt="Image Description">
      <div class="p-4 flex-1 md:p-5">
        <h3 class="text-lg font-bold text-gray-800 dark:text-white">
          Card title
        </h3>
        <p class="mt-1 text-gray-500 dark:text-gray-400">
          This card has supporting text below as a natural lead-in to additional content.
        </p>
      </div>
      <div class="p-4 border-t sm:px-5 dark:border-gray-700">
        <p class="text-xs text-gray-500 dark:text-gray-500">
          Last updated 5 mins ago
        </p>
      </div>
    </div>
  
    <div class="flex flex-col flex-[1_0_0%] bg-white dark:bg-gray-800">
      <img class="w-full h-auto sm:rounded-se-xl" src="https://images.unsplash.com/photo-1680868543815-b8666dba60f7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2532&q=80" alt="Image Description">
      <div class="p-4 flex-1 md:p-5">
        <h3 class="text-lg font-bold text-gray-800 dark:text-white">
          Card title
        </h3>
        <p class="mt-1 text-gray-500 dark:text-gray-400">
          This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.
        </p>
      </div>
      <div class="p-4 border-t sm:px-5 dark:border-gray-700">
        <p class="text-xs text-gray-500 dark:text-gray-500">
          Last updated 5 mins ago
        </p>
      </div>
    </div>
   
  </div>